{% extends 'text.html' %}
{% block navbar %}
    {% include 'partials/navbar-items.html' with place="who-we-are" %}
{% endblock navbar %}
{% block text %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Sobre nosotros</h1>
    <p>Blutickets.com es una plataforma de venta online de boletas para cualquier tipo de evento, ofreciéndoles así a los clientes más facilidad a la hora de adquirirlas.</p>
    <p>Ofrecemos un diseño web sencillo, eficaz y entendible a cualquier usuario de internet para que pueda realizar sus compras con nosotros.</p>
    <p>Estamos comprometidos al 100% para brindarles la mejor experiencia posible adaptándonos cada vez más a la comodidad y necesidad del cliente.</p>
    <p>&nbsp;</p>
    <p>Sabemos que el tiempo en tu día a día es muy valioso, es por eso que nuestro objetivo principal es ir a donde estés y entregártelas para que puedas aprovechar el día el máximo.</p>
    <p>&nbsp;</p>
    <p>Todas las formas de pagos disponibles en nuestra web son seguras, no brindamos ningún tipo de información personal de nuestros clientes. (<a href="{% url 'privacy' %}">Ver política de privacidad</a>)</p>
    <p>&nbsp;</p>
    <p>Así como tú también quieres estar siempre actualizado con las tendencias nosotros también. Siempre buscaremos cómo innovar para mejorar su experiencia de usuario, nuestra interfaz es súmamente práctica y entendible para cualquiera.</p>
    <p>&nbsp;</p>
    <p>Lo que nos apasiona es satisfacer al cliente en cada entrega que realicemos.</p>
    <p>&nbsp;</p>
    <p>Att: Equipo de Blutickets</p>
    <p>&nbsp;</p>
</body>
</html>
{% endblock text %}