{% extends 'text.html' %}
{% block text %}
    <h1>Sobre nosotros</h1>
    <p><b><i>Blutickets.com</i></b> es una plataforma de venta online de boletas para cualquier tipo de evento, ofreciéndoles así a los clientes más facilidad a la hora de adquirirlas.</p>
    <p>Ofrecemos un diseño web sencillo, eficaz y entendible a cualquier usuario de internet para que pueda realizar sus compras con nosotros. <i>Por el momento no aceptamos tarjetas de crédito/débito (Pagos se realizan al delivery).</i></p>
    <p>Estamos comprometidos al 100% para brindarles la mejor experiencia posible adaptándonos cada vez más a la comodidad y necesidad del cliente.</p>

    <h3><b>Nuestra prioridad</b></h3>
    <p><i>Evitar que salgas a comprar las boletas ahorrandote el calor de Santo Domingo y los horribles tapones llevándola hasta tu casa o trabajo.</i></p>
    <h3><b>Seguridad</b></h3>
    <p><i>Todos tenemos miedo de caer en alguna estafa, es por eso que los pagos se efectúan al momento de adquirir las boletas del evento.</i></p>
    <h3><b>Modernización</b></h3>
    <p><i>Así como tú también quieres estar siempre actualizado con las tendencias nosotros también. Siempre buscaremos cómo innovar para mejorar su experiencia de usuario.</i></p>
    <h3><b>Sencillez</b></h3>
    <p><i>A nosotros también nos cuesta desperdiciar tiempo en una página web y no encontrar lo que queremos, es por eso que nuestra interfaz es súmamente práctica y entendible para cualquiera.</i></p>

    <p>Lo que nos apasiona es satisfacer al cliente en cada entrega que realicemos.</p>
    <p class="pt-4"><b>Att: Equipo de Blutickets</b></p>
{% endblock text %}