{% extends 'text.html' %}
{% block text %}
<h2 style="text-align: left;">Términos de Servicio</h2>

<p>Al usar <i>Blutickets</i>.com, implica que ha leído, entendido y está de acuerdo a respetar los siguientes Términos y Condiciones</p>

<p><i>Blutickets</i> se preocupa por la seguridad y privacidad de todos sus Usuarios, especialmente niños. Por lo tanto, personas menores de 13 años no tienen permitido usar <i>Blutickets</i>.com</p>

<p><i>Blutickets</i> se reseverva el derecho de cambiar, modificar, añadir o remover porciones de estos Términos en cualquier momento. Por favor, revise estos términos periódicamente por si hay cambios. Cualquier cambio de los términos y condiciones será automáticamente efectivo a los treinta (30) días de que haberse agregado en el servicio</p>

<p><i>Blutickets</i> no se responsabiliza por ningún daño causado en los Eventos. Todos los Eventos en la plataforma son responsabilidad exclusiva de los organizadores del Evento. <i>Blutickets</i> no controla los Eventos y no garantiza seguridad ni calidad en ninguno de ellos. En caso de que un Evento sea postergado o cancelado, toda la información y los procedimientos a realizar recaen  sobre los organizadores de dicho Evento, incluyendo, pero no limitándose a, la devolución total o parcial del pago recibido</p>

<p><i>Blutickets</i> no se responsabiliza por ninguna afirmación ni conducta de ningún servicio de terceros</p>


<p><i>Blutickets</i> no se responsabiliza por ninguna boleta ya entregada</p>

<h3>Prescripción</h3>

<p>Al usar <i>Blutickets</i>, estás de acuerdo con que, independientemente de cualquier estatuto o ley a lo contrario, cualquier afirmación o causa de acción relacionada o acerca de El Servicio o los Términos de Servicio debe ser archivada después de un (1) año de que dicha afirmación o causa de acción surgió o será prohibida por siempre</p>


<h3 style="text-align: left;">Uso Impropio de los datos</h3>

<p>Minar datos y / o cualquier escarbación de datos no autorizada por <i>Blutickets</i> por cualquier medio, está prohibida a menos que un permiso explícito sea otorgado. Usar cualquier datos de <i>Blutickets</i> (incluyendo imágenes  o información de eventos) que no esté disponible a través de canales autorizados está también prohibido a menos que se otorgue un permiso explícito. Almacenar, guardar y / o retener imágenes de cualquier tamaño también está prohibido</p>


<p>Usted acepta no acceder al Contenido del sitio usando cualquier tecnología o medio que no sea designado por <i>Blutickets</i></p>

<h3>Copyright</h3>

<p>Todo el contenido subido a <i>Blutickets</i> guarda derechos de autor de sus respectivos dueños, incluyendo, especialmente, los Eventos. Los organizadores de los Eventos tienen total derecho de distribuir su propio trabajo sin consentimiento de <i>Blutickets</i></p>


<p>Al usar <i>Blutickets</i>, usted acepta darle a <i>Blutickets</i> permiso de usar o distribuir tu información en <i>Blutickets</i>.com o sitios afiliados</p>
{% endblock text %}