boto3==1.4.7
dj-database-url==0.4.2
Django==1.11.5
django-storages==1.6.5
gunicorn==19.7.1
Pillow==4.2.1
psycopg2==2.7.3
django-allauth==0.33.0
-e git+https://github.com/miguel550/django-geoposition.git#egg=django-geoposition
Markdown==2.6.9
django-markupfield==1.4.2
uwsgi==2.0.15
gevent==1.2.2
django-imagekit==4.0.1
django-jet==1.0.6
google-api-python-client==1.4.1
feedparser==5.2.1
celery==4.1.0
