.contact-title {
    margin-top: 15px;
}
.text-text {
    text-align: justify;
    text-justify: inter-word;
}
.text-text h1 {
    font-size: 40px;
    
}
@media (max-width: 768px) {
    .text-text h1 {
        font-size: 36px !important;
    }
    .text-text p {
        font-size: 15px !important;
    }
}