.geoposition-widget > table,
.geoposition-search {
  display: none !important;
}

/** yes i know, !important shouldn't be used. */
.flyer-image {
  display: block !important;
  max-height: 400px !important;
  margin: 0 auto !important;
}

.ticket-info-text * {
  font-size: 26px;
}

@media (max-width: 720px) {
  .ticket-info-text * {
    font-size: 20px !important;
  }
}