{% load socialaccount %}
{% load i18n %}

{% block content %}

{% providers_media_js %}
    <style>
        form input:not([type='checkbox']){
            width: 100% !important;
        }
    </style>
<h1>{% trans "Sign Up" %}</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
<a class="btn btn-block btn-social btn-facebook" href="{% provider_login_url "facebook" method="js_sdk" %}"><i class="fa fa-facebook"></i>Regístrate con Facebook</a>
    <p></p>
<form class="signup" id="signup_form" method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
    {{ form.media }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
    <p><input type="checkbox" required /> <span>Aceptas nuestros <a href="{% url 'tos' %}">Términos y Condiciones</a>.</span></p>
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
<p></p>


{% endblock %}