{% extends 'base.html' %}
{% load l10n %}
{% load humanize %}
{% block content %}
    <form method="post" class="pt-5" action="{% url 'edit_order_and_next' %}">{% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.pk }}" />
    <h1>Carrito</h1>
    <table class="table table-bordered " style="width: 100%;">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Evento</th>
      <th>Precio</th>
      <th>Cantidad</th>
        <th>Total</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    {% for line_item in line_items %}
    <tr id="li{{ line_item.pk }}">
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ line_item.product.party_name }}</td>
      <td>RD${{ line_item.price|unlocalize|intcomma }}</td>
      <td><input class="quantity" data-price="{{ line_item.price|unlocalize }}" data-id="{{ forloop.counter }}" type="number" min="1" max="{{ line_item.product.remaining }}" name="quantity_{{ line_item.pk }}" style="width: 100%;" value="{{ line_item.quantity }}" /></td>
        <td >RD$<span id="total{{ forloop.counter }}">{{ line_item.total|unlocalize|intcomma }}</span></td>
        <td><button class="delete" data-lineitemid="{{ line_item.pk }}"> <i class="fa fa-trash" aria-hidden="true"></i> </button></td>
    </tr>
        {% empty %}
        <tr><td></td><td>No hay productos en el carrito.</td></tr>
    {% endfor %}
  </tbody>
</table>
        <p><input class="btn btn-outline-primary" type="submit" value="Continuar" /></p>
    </form>
    <a class="btn btn-outline-primary" href="{% url 'home' %}">Seguir comprando</a>
    <script>
        var buttons = document.querySelectorAll('.delete');
        var delete_action = function(e){
            e.preventDefault();
            if(confirm("¿Desea eliminarlo de su lista?")){
                var formData = new FormData();
                var id = this.dataset.lineitemid;
                formData.append("line_item_id", id);
                formData.append('csrftoken', this.dataset.csrf);
                fetch('{% url 'remove_item_from_order' %}', {
                    method: "POST",
                    credentials: "same-origin",
                    headers: {
                        "X-CSRFToken": Cookies.get('csrftoken'),
                        "Accept": "application/json",
                    },
                    body: formData
                }).then(function(response){
                    return response.json();
                }).then(function(data){
                    if(data.RESULT == "OK"){
                        document.querySelector('#li'+id).style = "display: none;";
                    }
                }).catch(function(error){
                    console.error(error);
                });
            }
        };
        for (var i = 0; i < buttons.length; i++) {
          buttons[i].addEventListener("click", delete_action, false);
        }
        var quantities = document.querySelectorAll('.quantity');
        var change_action = function(e){
            var quantity = parseFloat(e.target.value);
            var price = parseFloat(e.target.dataset.price);
            var total = quantity * price;

            var elem_total = document.getElementById('total'+e.target.dataset.id);
            if(isNaN(total))
                elem_total.innerHTML = "0.00"
            else
                elem_total.innerHTML = total.toLocaleString() + ".00";
        };
        for (var i = 0; i < quantities.length; i++) {
          quantities[i].addEventListener("input", change_action, false);
        }
    </script>
{% endblock %}