{% extends 'base.html' %}
{% load l10n %}
{% load humanize %}

{# OK THIS IS THE REAL ONE #}

{% block content %}
    <script>
        var editOrder = true;
        var removeItemUrl = "{% url 'remove_item_from_order' %}";
    </script>
    <link href="//cdn.bri.io/mbox/dist/mbox-0.0.3.min.css" rel="stylesheet">
<script src="//cdn.bri.io/mbox/dist/mbox-0.0.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<div class="container edit-order">
  <div class="row">
    <div class="col-sm-6">
      <h2 align="center">Carrito</h2>
      <form method="POST" id="items" action="{% url 'edit_order_and_next' %}">{% csrf_token %}
        <input type="hidden" name="order_id" value="{{ cart.pk }}" />
        <table cellspacing="0" class="table">
          <thead>
            <tr>
              <th class="product-remove">&nbsp;</th>
              <th class="product-remove">&nbsp;</th>
              <th class="product-name">Evento</th>
                <th class="product-type">Tipo</th>
              <th class="product-price">Precio</th>
              <th class="product-quantity">Cantidad</th>
              <th class="product-subtotal">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.lineitem_set.all %}
            <tr class="cart_item" id="i{{ item.pk }}">
              <td class="product-remove">
                <a title="Remove this item" data-lineitemid="{{ item.pk }}" class="remove delete" href="#">×</a>
              </td>
              <td class="product-thumbnail">
                <a href="{{ item.product.get_absolute_url }}"><img width="145" height="145" alt="img" class="shop_thumbnail" src="{{ item.product.flyer_image_compressed.url }}"></a>
              </td>

              <td class="product-name">
                <a href="{{ item.product.get_absolute_url }}">{{ item.product.party_name }}</a>
              </td>
              <td class="product-type">
                  {% if item.product.ticket_types.count > 0 %}
                  <select name="type_{{ item.pk }}" class="type">
                      {% for type in item.product.tickettype_set.all %}
                          {% if item.ttype.pk == type.pk %}
                          <option value="{{type.ttype.pk}}" data-itempk="{{ item.pk }}" data-price="{{ type.price }}" data-priceprint="{{ type.price }}" selected>{{ type.ttype.name }}</option>
                          {% else %}
                          <option value="{{type.ttype.pk}}" data-itempk="{{ item.pk }}" data-price="{{ type.price }}" data-priceprint="{{ type.price }}">{{ type.ttype.name }}</option>
                          {% endif %}
                      {% endfor %}
                  </select>
                 {% else %}
                  Regular
                {% endif %}
              </td>
              <td class="product-price">
                  <span class="amount">RD$<span id="priceprint {{ item.pk }}">{{ item.price }}</span></span>
              </td>

              <td class="product-quantity">
                <!--<div class="quantity buttons_added">-->
                  <!--<input type="button" class="minus" value="-">-->
                  <input type="number" size="4" name="quantity_{{ item.pk }}" data-price="{{ item.price|unlocalize }}" data-id="{{ item.pk }}" class="input-text qty text quantity" title="Qty" value="{{ item.quantity }}" min="0" step="1" max="{{ item.product.remaining }}">
                  <!--<input type="button" class="plus" value="+">-->
                <!--</div>-->
              </td>

              <td class="product-subtotal">
                RD$<span class="amount" id="total{{ item.pk }}">{{ item.total }}</span>
              </td>
            </tr>
            {% endfor %}
            <tr style="margin-top: 10px">
              <td colspan="6">
                <button type="button" id="update_cart" name="update_cart" class="btn btn-info">
                  Actualizar carrito
                </button>

                <input type="submit" name="proceed" class="btn btn-success" value="Proceder a comprar" />

              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <h2 align="center">Total del carrito</h2>

      <table cellspacing="0" class="table">
        <tbody>
          <tr class="cart-subtotal">
            <th>Subtotal</th>
            <td><span class="amount">${{ cart.total }}</span></td>
          </tr>

          <tr class="shipping">
            <th>Envío</th>
            <td>Envío gratis</td>
          </tr>

          <tr class="order-total">
            <th>Orden Total</th>
            <td><strong><span class="amount">${{ cart.total }}</span></strong> </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12"><hr></div>
    <div class="col-sm-7">
      <h2 align="center">Eventos recomendados</h2>
      <div class="cart-collaterals text-center">
        <div class="cross-sells">
          <ul class="products">
            {% for event in recommended_events %}
                {% if event.remaining > 0 %}
                    <li class="product">
                      <a href="{{ event.get_absolute_url }}">
                        <img width="325" height="325" alt="{{ event.party_name }}" class="attachment-shop_catalog wp-post-image" src="{{ event.flyer_image_compressed.url }}">
                        <h3>{{ event.party_name }}</h3>
                          {% if event.ticket_types.count > 0 %}
                         <span class="price">Desde <span class="amount">RD${{ event.min_price }}</span></span>
                              {% else %}
                        <span class="price"><span class="amount">RD${{ event.price }}</span></span>
                              {% endif %}
                      </a>
                <form action="{% url 'create_order_or_add_item' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="ticket_id" value="{{ event.pk }}" />
                    <input type="submit" class="add_to_cart_button" value="Seleccionar opción" />
                </form>
                    </li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="single-sidebar">
        <h2 class="sidebar-title">Eventos recientes</h2>
        <ul>
        {% for event in recommended_events %}
          <li><a href="{{ event.get_absolute_url }}">{{ event.party_name }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
