{% extends 'base.html' %}
{% load humanize %}
{% load l10n %}

{% block content %}
<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-4">
      <h3 align="center">Detalles de facturación</h3>
      <form enctype="multipart/form-data" action="#" method="post" name="checkout">
        <div class="form-group">
          <label class="" for="billing_country">
            Sector <abbr title="required" class="required">*</abbr>
          </label>
          <select class="form-control" id="billing_country" name="billing_country">
            <option value="">Selecciona un sector</option>
            <option value="AX">Centro de los heroes</option>
          </select>
        </div>

        <div class="form-group">
          <label class="" for="billing_address_1">Dirección<abbr title="required" class="required">*</abbr>
          </label>
          <input type="text" value="" placeholder="Calle, número, casi esquina..." id="billing_address_1" name="billing_address_1" class="form-control">
        </div>

        <div class="form-group">
          <input type="text" value="" placeholder="Referencias: Al lado de, frente a, etc." id="billing_address_2" name="billing_address_2" class="form-control">
        </div>

        <div class="from-group">
          <label class="" for="billing_phone">
            Número telefónico <abbr title="required" class="required">*</abbr>
          </label>
          <input type="text" value="" placeholder="" id="billing_phone" name="billing_phone" class="form-control">
        </div>


        <input type="hidden" name="order_id" value="{{ order.pk }}" />
        <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
        {% csrf_token %}
      </form>
    </div>
    <div class="col-sm-4">
      <h3 align="center">Detalles de envío</h3>
      <table class="table">
        <thead>
          <tr>
            <th class="product-name">Evento</th>
            <th class="product-total">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="cart_item">
            <td class="product-name">
              Ship Your Idea <strong class="product-quantity">× {{order.quantity}}</strong>
            </td>
            <td class="product-total">
              <span class="amount">{{ order.total|unlocalize|intcomma }}</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="cart-subtotal">
            <th>Sub total</th>
              <td><span class="amount">{{ order.total|unlocalize|intcomma }}</span></td>
          </tr>
          <tr class="shipping">
            <th>Envío</th>
            <td>Envío gratis</td>
          </tr>
          <tr class="order-total">
            <th>Orden Total</th>
            <td><strong><span class="amount">$00.00</span></strong> </td>
          </tr>
        </tfoot>
      </table>
      <div id="payment">
        <ul class="payment_methods methods">
          <li class="payment_method_bacs">
            <input type="radio" checked="checked" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs">
            <label for="payment_method_bacs">Efectivo</label>
              <div class="payment_box payment_method_bacs">
                <p>Haz tu pago directamente con el delivery, sin necesidad de utilizar tarjetas de crédito/débito.</p>
              </div>
            </li>
            <li class="payment_method_paypal">
              <input type="radio" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal" disabled>
              <label class="text-muted">PayPal (pronto)
              </label>
            </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <div class="col-sm-12"><hr></div>
    <div class="col-sm-12 text-center" style="margin-bottom:20px">
      <input type="submit" data-value="Place order" value="Ordenar" id="place_order" name="woocommerce_checkout_place_order" class="button alt">
    </div>
  </div>
</div>
{% endblock %}