{% extends 'base.html' %}

{% block content %}
    <style>
        label[for="id_province"], label[for="id_sector"] {
            display: none;
        }
    </style>
    <h1>Dirección de envío</h1>
    <form method="post"  class="col-md-12" action="{% url 'checkout' %}">{% csrf_token %}
            <input type="hidden" name="order_id" value="{{ order.pk }}" />
            {{ form.media }}
        <div class="pt-3">
            {{ form.as_p }}
            <input class="btn btn-outline-primary" type="submit" value="Checkout" />
        </div>

    </form>

{% endblock %}