{% extends 'base.html' %}

{% block content %}
<div class="container jumbotron">
<h3 style="text-align: justify;"><strong>&iexcl;Gracias por su compra!&nbsp;</strong><img style="font-size: 14px;" src="http://oi65.tinypic.com/2isfiuv.jpg" alt="" width="20" height="17" /></h3>
<p style="text-align: justify;">Necesitamos tiempo para revisar si todo va en orden, procederemos a confirmar o cancelar su orden seg&uacute;n lo requiera lo antes posible.</p>
<p style="text-align: justify;"><strong>Revise su correo electr&oacute;nico donde estar&aacute; recibiendo el estatus de su ORDEN.&nbsp;</strong>Recuerde revisar siempre en la bandeja de <span style="text-decoration: underline;"><em><strong>NO DESEADOS.</strong></em></span></p>
<p style="text-align: justify;"><strong>El n&uacute;mero de su orden es #{{ order.pk }}.</strong></p>
<p><em>Nuestro equipo trabaja duro para que todo vaya en orden, todo lo que hacemos est&aacute; en base a una mejor gesti&oacute;n de nuestros servicios.</em></p>
</div>
{% endblock content %}