{% extends 'base.html' %}
{% block navbar %}
    {% include 'partials/navbar-items.html' with place="contact" %}
{% endblock navbar %}
{% block content %}

<div class="row">
  <div class="col-md-offset-4 col-md-4" style="padding: 0 30px;">
    <form action="" method="post" class="pt-2">
      <div class="form-group text-center">
        <h1 class="contact-title">Contáctese con nosotros</h1>
        {{ form.as_p }}
        <input type="submit" class="btn btn-outline-primary" value="Enviar mensaje" />
      </div>
      {% csrf_token %}
    </form>
  </div>
</div>


{% endblock content %}