{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Boletos de conciertos, fiestas, deportes, teatro a domicilio hasta tu casa gratis en todo el Distrito Nacional.">
  <title>{% block title %}Blutickets | ¡Boletas a domicilio a la puerta de tu casa!{% endblock %}</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon2.png' %}"/>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- finally -->

  <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
  {% block more_styles %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- fatass jquery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body>

<div class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="user-menu">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}"><i class="fa fa-user"></i>&nbsp;Mi cuenta</a></li>
            <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Cerrar Sesión</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}"><i class="fa fa-user"></i>&nbsp;Iniciar sesión / Registro</a></li>

            {% endif %}
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="site-branding-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'img/logo_new_design.png' %}">
          </a>
        </div>
      </div>
      
      <div class="col-sm-6">
        <div class="shopping-item">
          <a href="{% url 'create_order_or_add_item' %}">Carrito - <span class="cart-amunt">$0</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">0</span></a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> 
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% block navbar %}
                {% include 'partials/navbar-items.html' with place="home" %}
            {% endblock navbar %}
        </ul>
      </div>  
    </div>
  </div>
</div> <!-- End mainmenu area -->

{% block content %}
{% endblock content %}

<div class="footer-top-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-about-us">
          <h2><span>Acerca de nosotros</span></h2>
          <p>Blutickets.com es una plataforma de venta online de boletas para cualquier tipo de evento, ofreciéndoles así a los clientes más facilidad a la hora de adquirirlas.</p>
          <div class="footer-social">
             <a href="https://www.facebook.com/blutickets/" target="_blank"><i class="fa fa-facebook"></i></a>
             <a href="https://instagram.com/blutickets" target="_blank"><i class="fa fa-instagram"></i></a>
             <a href="https://twitter.com/blutickets" target="_blank"><i class="fa fa-twitter"></i></a>

          </div>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title"> Atajos </h2>
          <ul>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="{% url 'who-we-are' %}">Sobre nosotros</a></li>
            <li><a href="{% url 'contact' %}">Contacto</a></li>
          </ul>            
        </div>
      </div>
      
      
      <div class="col-md-3 col-sm-6">
        <div class="footer-newsletter">
          <h2 class="footer-wid-title">Newsletter</h2>
          <p>¡Suscríbete a nuestro boletín y recibe las mejores ofertas y los eventos directamente a tu bandeja de entrara!</p>
          <div class="newsletter-form">
            <form action="#">
              <input type="email" placeholder="Introduce tu correo">
              <input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="copyright">
          <p>&copy; 2017 Blutickets. Todos los derechos reservados.</p>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="footer-card-icon">
          <i class="fa fa-cc-discover"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-paypal"></i>
          <i class="fa fa-cc-visa"></i>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End footer bottom area -->

<!-- script time -->

<!-- google analytics -->
{% block ga %}
  {% if use_ga and user.is_staff is False and user.is_superuser is False %}
  {# This will be loaded with ga_tracking_id variable from context_procesor #}
    {% include "partials/ga.html" with ga_tracking_id=ga_tracking_id %}
    {% if user.is_authenticated %}
      {# This will be loaded with ga_tracking_logged_in_id variable from context_procesor #}
      {% include "partials/ga.html" with ga_tracking_id=ga_tracking_logged_in_id %}
    {% else %}
    {# This will be loaded with ga_tracking_anonymous_users_id variable from context_procesor #}
      {% include "partials/ga.html" with ga_tracking_id=ga_tracking_anonymous_users_id %}
    {% endif %}
  {% endif %}
{% endblock ga %}


<script src="{% static 'js/vendor.js' %}"></script>
{% block more_scripts %}{% endblock %}
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>