{% extends 'base.html' %}

{% block navbar %}
    {% include 'partials/navbar-items.html' with place="events" %}
{% endblock navbar %}

{% block content %}
        <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {% for ticket in object_list %}
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="{{ ticket.flyer_image_compressed.url }}" alt="">
                            </div>
                            <h2><a href="{{ ticket.get_absolute_url }}">{{ ticket.party_name }}</a></h2>
                            <div class="product-carousel-price">
                                <ins>{{ ticket.price }}</ins> <!--<del>$999.00</del>-->
                            </div>

                            <div class="product-option-shop">
                                        {% if ticket.remaining > 0 %}
                                        <form action="{% url 'create_order_or_add_item' %}" method="post">{% csrf_token %}
                                            <input type="hidden" name="ticket_id" value="{{ ticket.pk }}" />
                                            <input type="submit" class="add_to_cart_button" value="Añadir al carrito" />
                                        </form>

                                        {% elif ticket.remaining <= 0 %}
                                            <button disabled class="alert alert-danger" role="alert"><strong>Sold out</strong></button>
                                        {% endif %}
                                <!--<a class="add_to_cart_button" data-quantity="{{ ticket.remaining }}" data-product_sku="" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Añadir al carrito</a>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>


{% endblock content %}