{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="row">

    {% for ticket in object_list %}
        <!--<div class="">-->
        <a href="{% url 'ticket-detail' ticket.id %}">
            <div class="mx-auto pt-3" style="width: -webkit-fill-available">
            <div class="card" style="">
              <img class="card-img" height="auto" width="100%" src="{{ ticket.flyer_image.url }}" alt="Card image cap">
            </div>
            </div>
        </a>
        <a href="{% url 'create_order_or_add_item' ticket.pk %}">Agregar a carrito</a>
        <!--</div>-->
    {% endfor %}
    </div>
    </div>
{% endblock content %}