{% extends 'base.html' %}
{% block title %}{{ block.super }} - {{ object.party_name }}{% endblock title %}
{% block content %}
<div class="container jumbotron">
  <div class="row">
      <div class="col-sm-6 col-lg-offset-3">
        <img src="{{ object.flyer_image_compressed.url }}" class="flyer-image" />
        <div class="well">
          {{ object.description.rendered|safe }}
        </div>
      </div>
      <div class="col-sm-6 ticket-info-text">
        <p style="text-align: justify;">
          &nbsp;&nbsp;
          <i class="fa fa-money fa-3x" aria-hidden="true"></i>
          &nbsp;&nbsp;
          <strong>
            Precio: RD${{ object.price }} P/P
          </strong>
        </p>
        <p class="text-justify">
          &nbsp;&nbsp;
          <strong>
            <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
            &nbsp;&nbsp;
            Fecha: {{ object.when|date:"d/m/Y" }}.
          </strong>
        </p>
        <p class="text-justify">
          &nbsp;&nbsp;
          <strong>
            <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
            &nbsp;&nbsp;
            Hora: {{ object.when|time:"h:i A" }}.
          </strong>
        </p>
        <p class="text-justify">
          &nbsp;&nbsp;
          <strong>
            <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
            &nbsp;&nbsp;Ubicación en MAPA.
          </strong>
        </p>
        <div class="text-center" style="padding-top: 20px">
          {% if ticket.remaining > 0 %}
          <form action="{% url 'create_order_or_add_item' %}" method="post">
              <input type="hidden" name="ticket_id" value="{{ ticket.pk }}" />
              <input type="submit" class="add-to-cart-btn" value="Añadir al carrito" />
              {% csrf_token %}
          </form>

          {% elif ticket.remaining <= 0 %}
              <button disabled class="alert alert-danger" role="alert"><strong>Sold out</strong></button>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-6">
        {{ form.media }}
        {{ form.as_p }}
        <script>

        function initMap() {

          var myLatLng = {lat: {{ object.map_position.latitude }}, lng: {{ object.map_position.longitude }} };

          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: myLatLng
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: "{{ object.party_name }}"
          });
        }
        </script>
        <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3B2CnwKHWPZCOkm40bPzYZBJ9dcEoXGo&callback=initMap"></script>-->
      </div>
  </div>
</div>
{% endblock %}
