{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% block title %}{{ block.super }} - {{ object.party_name }}{% endblock title %}
{% block content %}
            <style>


        .geoposition-widget > table, .geoposition-search, label{
            display: none !important;
        }

    </style>
    <div class="container">
        <div class="row">
            <div style="width: -webkit-fill-available">
                <img src="{{ object.flyer_image.url }}" height="auto" width="100%" />
                <p ><div class="mx-auto">{{ object.description.rendered|default:"<No tiene cuerpo>"|safe }}</div></p>
                <p><i class="fa fa-calendar" aria-hidden="true"></i> Fecha del evento: {{ object.when|date }}</p>
                <h1><i class="fa fa-map-marker" aria-hidden="true"></i> Ubicación</h1>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
                {{ form.media }}
                {{ form.as_p }}

            </div>
        </div>
    </div>
    <script>

      function initMap() {
        {% localize off %}

            var myLatLng = {lat: {{ object.map_position.latitude }}, lng: {{ object.map_position.longitude }} };

        {% endlocalize %}
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: "{{ object.party_name }}"
        });
      }
    </script>
    <!--<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3B2CnwKHWPZCOkm40bPzYZBJ9dcEoXGo&callback=initMap">
    </script>-->
{% endblock content %}