<blockquote>
<h3 style="text-align: justify;"><img src="http://oi64.tinypic.com/rba3o7.jpg" alt="" width="560" height="132" /></h3>
<p style="text-align: justify;">{{ user.first_name }} {{ user.last_name }}, su pedido ha sido procesado con &eacute;xito.&nbsp;&iexcl;Ya estamos casi listos!</p>
<p style="text-align: justify;">El pedido no se ha enviado a&uacute;n hasta que revisemos si todo va en orden, de lo contrario se podr&iacute;a cancelar.&nbsp;</p>
<h4 style="text-align: justify;">&iquest;Por qu&eacute; se cancela un pedido?</h4>
<p style="text-align: justify;">Un pedido puede ser cancelado por varias razones entre las cuales est&aacute; una mala direcci&oacute;n de env&iacute;o, sospechas sobre abuso de nuestros sistemas y/o usuarios mal intencionados.</p>
<p style="text-align: justify;">Nuestro equipo trabaja duro para que todo vaya en orden, todo lo que hacemos est&aacute; en base a una mejor gesti&oacute;n de nuestros servicios.</p>
<p style="text-align: justify;">Una vez que el pedido alcanze uno de estos estados se le ser&aacute; notificado por esta misma v&iacute;a.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<hr /></blockquote>
<blockquote><span style="color: #808080;">No revisamos este buz&oacute;n, as&iacute; que no respondas a este mensaje. </span></blockquote>
<blockquote><span style="color: #808080;">Si tienes alguna duda contactanos a nuestro email de contato: <a style="color: #808080;" href="mailto:contactoblutickets@gmail.com">contactoblutickets@gmail.com</a>&nbsp;o nuestro n&uacute;mero de servicio al cliente: </span><span style="color: #808080;">809-475-5170 Lunes - Viernes 9:00AM - 6:00PM&nbsp;</span></blockquote>